<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension.ar.procomic">

    <application>
        <activity
            android:name=".UrlActivity"
            android:exported="true"
            android:label="إعدادات Procomic">
            <intent-filter>
                <action android:name="eu.kanade.tachiyomi.EXTENSION_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
